.chat-message-container {
  margin-right: 12px; }

.chat-message {
  position: relative;
  width: 100%;
  clear: both;
  border-top: 1px solid black;
  min-height: 40px;
  background: #eee; }
  .chat-message .name-container {
    position: absolute;
    width: 20%;
    height: 100%; }
    .chat-message .name-container.pull-right {
      right: 0; }
    .chat-message .name-container.pull-left {
      left: 0; }
    .chat-message .name-container div {
      background: blue;
      color: white;
      float: inherit;
      height: 100%; }
  .chat-message .message-container {
    position: relative;
    width: 80%; }
  .chat-message .text-left {
    text-align: left;
    float: left; }
  .chat-message .text-right {
    text-align: right;
    float: right; }
