<div class="header">
    <!--<div class="pull-right text-muted hidden-xs">
        <h3>by Nathan Friend</h3>
    </div>-->
    <h1 class="text-muted">NodeChat</h1>
</div>

<div class="chat-container">
    <div class="resize" resize height-offset="180" ignore="w" ng-style="style()">
        <div class="chat-top-spacer">&nbsp;</div>
        <div ng-repeat="item in array">
            <p>{{item.text}}</p>
        </div>
    </div>
</div>

<hr />

<div class="row chat-input-container">
    <div class="col-sm-10 col-xs-12">
        <textarea class="chat-input form-control" rows="2" />
    </div>
    <div class="col-sm-2 col-xs-12">
        <div class="send-button btn btn-success btn-lg"><span>Send</span></div>
    </div>
</div>
